<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="controller,misc" />
	<mvc:annotation-driven />
	
	<bean class="org.springframework.web.servlet.view.XmlViewResolver" />
	
	<mvc:interceptors>
		<!--徵稿黑名單過濾器 -->
		<mvc:interceptor>
			<mvc:mapping path="/bounty/bountyPage.controller"/>
			<bean class="misc.block.BlockInterceptor" />
		</mvc:interceptor>
		
		<!--作品推播過濾器 -->
		<mvc:interceptor>
			<mvc:mapping path="/work/upload.controller"/>
			<bean class="misc.websocket.PushInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!--輪播TOP系統自動獲取定時器 -->
	<task:scheduler id="scheduler1" pool-size="1"/>
	<task:annotation-driven scheduler="scheduler1" mode="proxy"/>
	
	<!--徵稿自動過期文定時器 -->
	<bean id="bountyScheduler" class="misc.schedule.BountyScheduler"></bean>
	<task:scheduler id="scheduler2"/>
	<task:scheduled-tasks scheduler="scheduler2">
		<task:scheduled ref="bountyScheduler" method="doSomethig" cron="59 59 23 * * ?"/>
	</task:scheduled-tasks>
<!-- 	0/30 * * * * ? -->
<!-- 59 59 23 * * ? -->
	<!--郵件黑名單過濾AOP -->
<!-- 	<aop:aspectj-autoproxy /> -->

	<!-- 支持上傳檔案 -->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
    
    
    <!-- 一定要這個annotation-driven，不然獲得不了靜態資源，還有注意mapping的值一定不要與項目名字開頭有相同的，否則會出很多問題 ，很多要通過controler的都會出問題-->
    <mvc:annotation-driven/>
    <!-- 映射靜態資源 -->
    <!--後面img引用圖片路徑要這個靜態映射  -->
    <mvc:resources location="/lupload/" mapping="/lupload/**" />  
	
</beans>
