<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!--SQL方言,以下使用SQLServer -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>

		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">false</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>


		<!--Java物件與資料庫表格的映射檔 -->
		<mapping class="model.bounty.BountyBean" />
        <mapping class="model.bounty.BountyTagBean" />
        <mapping class="model.bounty.BountyTrackBean"/>
		<mapping class="model.block.BlockBean" />
		<mapping class="model.member.MemberBean" />
		<mapping class="model.browsed.BrowsedBean" />
		<mapping class="model.work.WorkBean" />
		<mapping class="model.favorite.FavoriteBean" />
		<mapping class="model.wmsg.WmsgBean" />
		<mapping class="model.mail.MailBean" />
		<mapping class="model.log.LogBean" />
		<mapping class="model.bmsg.BmsgBean" />
		<mapping class="model.work.WorkBean" />
		<mapping class="model.album.AlbumBean" />
	</session-factory>

</hibernate-configuration>
